In [1]:
#EXERCISE- 1 , Q2
#addition
print(7+10)

17

In [2]:
#Q3
print(5+5)#addition
print(5-5)#subtraction
print(3*5)#multiplication
print(10/2)#division
print(18%7)#remainder
print(4**2)#exponent

10
0
15
5.0
4
16

In [5]:
#Q4
#principal
P=5000
#rate of interest
R=7/100
#time
T=5
#simple interest
SI=P*R*T
print('Simple Interst is',SI)
#total value
TV=P+SI
print('Total value is ',TV)

Simple Interst is 1750.0000000000002
Total value is  6750.0

In [6]:
#Q5
#principal
P=8000
#rate
R=87/1000
#simple interest
SI=4872
#total value
T=SI/(P*R)
print('Time is ',T)

Time is  7.0

In [7]:
#Q6
P=3000
T=4
SI=768
R=SI/(P*T)
print(R)
r=R*100
print('Rate of interest is ',r)

0.064
Rate of interest is  6.4

In [6]:
#Q7
print(100*(1+(10/100))**7)

194.87171000000012

In [7]:
#EXERCISE-2 , #Q1
Savings=100
print(Savings)
#Q2
Growth_multiplier=1.1
result=int(Savings)*(int(Growth_multiplier)^7)
print(result)

100
600

In [8]:
#Q3
#create a variable desc
desc='compound interest'
#create a boolean
profitable=True

In [9]:
#Q4
A=10.7
B='This is python course'
C=False
type(A)

float

In [10]:
type(B)

str

In [11]:
type(C)

bool

In [12]:
type(Savings)

int

In [13]:
type(profitable)

bool

In [14]:
type(desc)

str

In [15]:
type(Growth_multiplier)

float

In [17]:
#Q5
year1=Savings*Growth_multiplier
print(year1)

110.00000000000001

In [18]:
#type of year1
type(year1)

float

In [19]:
# sum of desc and desc and store result in doubledesc
doubledesc=desc+desc
print(doubledesc)

compound interestcompound interest

In [20]:
#Q6
# definition of savings and result
Savings=100
result=(100*(1.1)**7)
#can only concatenate str (not "int") to str - FIX

print("I started with $" + Savings +"and now have $"+ result +". Awesome!")

I started with $100and now have $194.87171000000012. Awesome!

In [21]:
#Q7
#definition of pi_string
pi_string="3.1415926"
#convert pi_string to pi_float
pi_float = float(pi_string)
double_pi= pi_float*2
print(double_pi)

6.2831852

In [22]:
#Q8, statement-1
"I can add integers, like " + str(5) + " to strings."

'I can add integers, like 5 to strings.'

In [23]:
#statement-2
"I said " + ("Hey " * 2) + "Hey!"

'I said Hey Hey Hey!'

In [24]:
#statement-3
"The correct answer to this multiple choice exercise is answer number " + 2

TypeError: can only concatenate str (not "int") to str

In [25]:
#statement-4
True + False

1

In [29]:
#EXERCISE-3 ,Q1
#Python program to check given no. is  even or not
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("Number is Even")
else:
   print("Number is Odd")

Enter a number: 40
Number is Even

In [27]:
#Q2
# Python Program to convert temperature in celsius to fahrenheit

# change this value for a different result
celsius = 30

# calculate fahrenheit
fahrenheit = (celsius * 1.8) + 32
print(fahrenheit)

86.0

In [2]:
#Q3
#Python program to find area of triangle
import math
a = 4 
b = 3  
c = 6  
s = (a + b + c) / 2

Area = math.sqrt(s*(s-a)*(s-b)*(s-c)) 
print('The area of triangle is' , Area)

The area of triangle is 5.332682251925386

In [3]:
#Q4
# Python Program to find Diameter, Circumference, and Area Of a Circle

PI = 3.14
radius = float(input(' Please Enter the radius of a circle: '))

Circumference = 2 * PI * radius
Area = PI * radius * radius

print('The area of triangle is ', Area)
print('The circumferene of triangle is ', Circumference)

 Please Enter the radius of a circle: 4
The area of triangle is  50.24
The circumferene of triangle is  25.12

In [4]:
#Q5
#Python program to check if integer is multiple of 5
x=int(input('Please enter the number'))
if (x % 5 == 0): 
    print("Number is multiple of 5")
else:
    print("Number is not a multiple of 5")

Please enter the number23
Number is not a multiple of 5